
/*
https://www.w3schools.com/css/css3_flexbox.asp
https://www.w3schools.com/html/html5_video.asp
https://www.w3schools.com/css/css3_object-fit.asp

*/


* {
    margin: 0; /*Resets browser default spacing */
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Outfit;
    padding: 20px;
}

.navigation-bar {
    height: 100px;
    max-width: 90%;
    /* centrira  div */
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #e5e5e5;
}

.header-flex
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.nav-left ul,
.nav-right ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

li {
    display: inline;
}
li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    size: 16px;
}

.logo {
    float: left;
    padding-right: 70px;
}

#EN {
    padding-left: 20px;
    background-image: url('/assets/united-kingdom.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 18px 18px; /* icon size */
}

.narocniki-container {
    max-width: 90%;
    /* centrira  div */
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto;
    text-align: center;
}

.narocniki-container p {
    font-size: 35px;
    margin-bottom: 30px;
}
.narocniki-container p b {
    color: #02485D;
}

.narocniki-slike {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* allows wrapping on smaller screens */
    gap: 60px;
}
.narocniki-slike img {
    height: auto;
    object-fit: contain;
}

.column-section {
    display: flex;
    max-width: 90%;
    margin: 60px auto;
    padding: 20px;
    gap: 0px; /* spacing between columns */
}
.column-text {
    padding: 20px;
    padding-top: 80px;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.column-section .column-text{
    font-size: 35px;
}

.column-section .column-text b{
    color: #02485D;
}

.column-section .column-text #header{
    padding-bottom: 40px;
}

.column-slika img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.text-row {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 32px;
}
.text-row p {
    font-size: 16px;
    line-height: 1.5;
}
.text-row b {
    font-size: 18px;
    padding-left: 16px;
}

.text-row img {
    width: 38px;
    height: 38px;
    object-fit: contain;
    margin-top: 5px; /* helps align icon with first line of text */
}
.text-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Ensures text stacks from the top */
    padding-top: 5px;
}
